.Board{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.Collumn{
  margin-left: 10px;
  display: flex;
  flex-direction: column-reverse;
}
.App{
  width:100%;
}
